@page "/"

@inject IJSRuntime ijsRuntime;


<PageTitle>Home</PageTitle>

<h1>Hello, @test!</h1>

Welcome to your new app.

<script>
	function jsFuncion(){
	alert ("Prueba");
	}

</script>

@code{
	string test = "Emilio";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await ijsRuntime.InvokeVoidAsync("alert", "Prueba");
		}
	}
}